---
layout: default
---
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

{% include top_nav.html %}
<div class="content-container row" id="who-container">
  <div class="large-12 columns">
    <p>Hi, I'm James. I'm a computer programmer who likes to read and occasionally gets outside.</p>
    
    <p>I'm currently a Software Engineer at <a href="http://www.product.hubspot.com">HubSpot</a> and a recent graduate of <a href="http://www.northeastern.edu">Northeastern University</a>.</p>
  </div>
</div>
<div class="content-container row" id="what-container">
  <div class="row info-listing">
    <div class="large-4 columns">
      <a href="../misc/mamoru.png"><img class="screencap" src="../misc/mamoru.png" alt="Not to be confused with mamoru.com. That's just a cherry tree."></a>
      <div class="row"><h7 class="job-title"><a href="http://www.mamoru.co">Live</a> | <a href="http://www.github.com/jmagnarelli/Mamoru_Backend">GitHub</a></h7></div>
    </div>
    <div class="large-8 columns project-descr">
      <h4>Mamoru</h4>
      <p class="job-descr">Mamoru means "to protect" in Japanese. Use Mamoru to set a timer. If you don't check back in before the time is up, Mamoru lets your contacts know something might be wrong.
        Mamoru won first place in the Health and Wellness category at <a href="http://www.hackduke.com">Hack Duke 2014!</a> It also took home the Twilio API prize that day.</p>
        <p class="techs-used">Primary technologies: node.js, firebase, android sdk, twilio api</p>
        <p class="techs-used">Collaborators: <a href="https://www.linkedin.com/profile/view?id=12294169">Bobo Bose-Kolanu</a>, <a href="http://zfo.gg">Zach Fogg</a>, <a href="https://www.linkedin.com/profile/view?id=20120189">Siddhartha Tondapu</a></p>
      </div>
    </div>
    <div class="row info-listing">
      <div class="large-4 columns">
        <a href="../misc/tweetpd_big.png"><img class="screencap" src="../misc/tweetpd_small.png" alt="Because you wouldn't check Twitter in an emergency, I hope."></a>
        <div class="row"><h7 class="job-title"><a href="http://www.tweetpd.com">Live</a> | <a href="http://www.github.com/jmagnarelli/watchyourback">GitHub</a></h7></div>
      </div>
      <div class="large-8 columns project-descr">
        <h4>TweetPD</h4>
        <p class="job-descr">TweetPD is an alert service for local emergencies. It listens in on municipal fire, police, and 911 dispatch Twitter accounts, and can let you know if something's wrong in your area. TweetPD currently supports alerts via SMS and US Mail. That's right! Postal mail. If there's a fire down the street from you, we can immediately dispatch a postard to your residence, and in just a few short business days, you'll know all about the emergency. The future is now! Note: this is in beta - don't rely on it.</p>
        <p class="techs-used">Primary technologies: python, flask, bootstrap, twilio api, lob api, twitter api</p>
        <p class="techs-used">Collaborators: <a href="//aliceyoung.io">Alice Young</a>, <a href="https://www.linkedin.com/profile/view?id=248467780">Arya Boudaie</a>, <a href="https://www.linkedin.com/profile/view?id=239396890">Luka Milekic</a></p>
      </div>
    </div>
    <div class="row info-listing">
      <div class="large-4 columns">
        <a href="../misc/vulgar_tongue.png"><img class="screencap" src="../misc/vulgar_tongue.png" alt="It's vulgar, it's a tongue, what else could you want?"></a>
        <div class="row"><h7 class="job-title"><a href="http://www.twitter.com/daily1811slang">Live</a> | <a href="http://www.github.com/jmagnarelli/vulgar_tongue">GitHub</a></h7></div>
      </div><div class="large-8 columns project-descr">
      <h4>Vulgar Tongue</h4>
      <p class="job-descr">A Twitter bot that tweets a word of the day from Francis Grose's 1811 Dictionary of the Vulgar Tongue. 
        I found the book on Project Gutenberg, and I just couldn't resist.</p>
        <p class="techs-used">Primary technologies: python, sqlite, twitter api</p>
      </div>
    </div>
    <div class="row info-listing">
      <div class="large-4 columns">
        <a href="../misc/anagrams.png"><img class="screencap" src="../misc/anagrams.png" alt="It's a pretty common programming problem."></a>
        <div class="row"><h7 class="job-title"><a href="http://www.github.com/jmagnarelli/anagram-analyzer">GitHub</a></h7></div>
      </div>
      <div class="large-8 columns project-descr">
        <h4>Anagram Analyzer</h4>
        <p class="job-descr">This is a solution to the classic programming question  "Given a set of words, output the number of words in that set that have at least one anagram among the other words in the set." It was written to be stand-alone library that could be run on arbitrary word lists - it is well-documented and unit-tested, and runs on python 3.3 and 2.7. The Ridiculously Huge English Word List is included for testing, along with a few other word lists. 
        </p>
        <p class="techs-used">Primary technologies: python</p>
      </div>
    </div>
    <div class="row info-listing">
      <div class="large-4 columns">
        <a href="../misc/magnarelli_org1.png"><img class="screencap" src="../misc/magnarelli_org1.png" alt="My personal site. You are on it right now."></a>
        <div class="row"><h7 class="job-title"><a href="javascript:;">Live</a> | <a href="http://www.github.com/jmagnarelli/magnarelli.org">GitHub</a></h7></div>
      </div>
      <div class="large-8 columns project-descr">
        <h4>magnarelli.org</h4>
        <p class="job-descr">Largely for personal satisfaction, but it's also a showcase of some of my professional and personal work. If you have any feedback, please let me know!
        </p>
        <p class="techs-used">Primary technologies: sass/css, jekyll, html, zurb foundation</p>
      </div>
    </div>
    <p id="abridged" class="text-center">This is just a summary. <a href="//www.github.com/jmagnarelli">GitHub</a> is the source of truth.</p>
  </div>
</div>
<div class="content-container row" id="when-container">
  <div class="row info-listing">
    <div class="large-4 columns">
      <h2><a href="https://product.hubspot.com">HubSpot</a></h2>
      <div class="row"><h7 class="job-title">Software Engineer</h7></div>
      <div class="row"><h7 class="job-title">Jun 2016 - Present</h7></div>
    </div>
    <div class="large-8 columns">
      <p class="job-descr">After graduation, I re-joined HubSpot on the COS Platform team, where I work on the technology underpinning the <a href="http://www.hubspot.com/products/content-optimization-system">COS</a>.</p>
      <p class="techs-used">Primary technologies: Java, SQL, ES6, React</p>
    </div>
  </div>
  <div class="row info-listing">
    <div class="large-4 columns">
      <h2><a href="https://product.hubspot.com">HubSpot</a></h2>
      <div class="row"><h7 class="job-title">Co-op Software Engineer</h7></div>
      <div class="row"><h7 class="job-title">Jan - Jul 2014</h7></div>
    </div>
    <div class="large-8 columns">
      <p class="job-descr">Here I mostly work on the HubSpot COS, an integrated website, blog, and landing page system. </p>
      <p class="techs-used">Primary technologies: Python, Django, Java, MySQL, Coffeescript, CSS</p>
    </div>
  </div>
  <div class="row info-listing">
    <div class="large-4 columns">
      <h2><a href="https://turbotax.intuit.com">Intuit</a></h2>
      <div class="row"><h7 class="job-title">Co-op Software Engineer</h7></div>
      <div class="row"><h7 class="job-title">Jan - Jul 2013</h7></div>
    </div>
    <div class="large-8 columns">
      <p class="job-descr">My role here spanned engineering and customer research. On one team, I worked on a new version of the TurboTax product, implementing new features on the back and front end.
        On the Healthcare team, I conducted interviews and focus groups to discover customer needs and insights, then rapidly iterated on our prototypes for the next customer sessions.</p>
        <p class="techs-used">Primary technologies: Java, Javascript, Maven</p>
      </div>
    </div>
    <div class="row info-listing">
      <div class="large-4 columns">
        <h2><a href="http://www.empirix.com">Empirix</a></h2>
        <div class="row"><h7 class="job-title">Co-op Software Engineer</h7></div>
        <div class="row"><h7 class="job-title">Jan - Jul 2012</h7></div>
      </div><div class="large-8 columns">
      <p class="job-descr">Here I developed a stress-testing and diagnostic framework for the servers we manufactured. It integrated with the bootloader and exercised all components of the system.</p>
      <p class="techs-used">Primary technologies: C++, C, Linux</p>
    </div>
  </div>
  <div class="row info-listing">
    <div class="large-4 columns">
      <h3><a href="http://www.northeastern.edu/resnet">Northeastern University</a></h3>
      <div class="row"><h7 class="job-title">ResNet System Administrator</h7></div>
      <div class="row"><h7 class="job-title">Jul 2012 - May 2015</h7></div>
    </div>
    <div class="large-8 columns">
      <p class="job-descr">I maintained and developed the severs and other infrastructure at ResNet, a technical support office. I was responsible for firewalls, data backup, DNS, print services, maintaining our Django applications, and more.
      </p>
      <p class="techs-used">Primary technologies: Ubuntu Linux, Django, MySQL, Puppet, Active Directory</p>
    </div>
  </div>
  <p id="abridged" class="text-center">This is just the abridged version. Check out the whole thing on <a href="//www.linkedin.com/in/jmagnare">LinkedIn</a>.</p>
</div>
<div class="content-container row" id="where-container">
  <div class="large-12 columns text-center">
    <a href="//www.github.com/jmagnarelli"><i class="fa fa-github-square"></i></a>
    <a href="//www.linkedin.com/in/jmagnare"><i class="fa fa-linkedin-square"></i></a>
    <a href="mailto:jmagnare@gmail.com"><i class="fa fa-envelope"></i></a>
    <a href="//www.facebook.com/james.magnarelli"><i class="fa fa-facebook-square"></i></a>
  </div>
  <div class="large-12 columns text-center">
    <p id="phone-number">978-96-JAMES</p>
  </div>
</div>
<div class="content-container row" id="why-container">
  <div class="large-12 columns text-center">
    {% for post in site.posts %}
    <div class='row info-listing'>
      <div class='large-4 columns'>
        <div class='row'><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
        <div class='row post-information'>
          <div class="large-4 columns job-title">{{ post.date | date: "%b %-d, %Y" }}</div>
          <div class="large-8 columns job-title right">
            {% for category in post.categories %}
            <a class="blog-category-link" href="{{ site.baseurl }}blog/categories/{{ category }}">{{ category }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class='large-8 columns'>
        {{ post.excerpt }}
      </div>
    </div>
    {% endfor %}

    <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</div>
