/* line 2, ../sass/styles.sass */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  /* Needed for mobile WebKit */
  -moz-box-sizing: border-box;
  /* Needed for Firefox */
  box-sizing: border-box;
}

/*&:before, &:after
 *  -webkit-box-sizing: border-box
 *  /* Needed for mobile WebKit
 *  -moz-box-sizing: border-box
 *  /* Needed for Firefox
 *  box-sizing: border-box */
/* line 16, ../sass/styles.sass */
body {
  color: #333333;
  font-family: lato, Voces;
}

/* line 20, ../sass/styles.sass */
.background-old {
  background-color: whitesmoke;
  background-color: #e6dedc;
}

/* line 24, ../sass/styles.sass */
.background {
  background-color: #252525;
}
/* line 26, ../sass/styles.sass */
.background a:hover, .background a:focus {
  color: #e6dedc;
  cursor: auto;
}

/* line 31, ../sass/styles.sass */
.sexy-background {
  background-image: url("../misc/sexybackground.jpg");
}

/* line 34, ../sass/styles.sass */
.link {
  stroke: #cccccc;
}

/* line 37, ../sass/styles.sass */
.descriptive-text {
  font-size: 1.25em;
  color: #333333;
  font-family: Voces;
}

/* line 42, ../sass/styles.sass */
#my-social-buttons {
  margin-top: 1.5em;
}

/* line 45, ../sass/styles.sass */
.job-title {
  display: inline-block;
  /*background-color: rgba(0, 0, 0, 0.3); */
  /*border-radius: 0.15em; */
  padding: 0.15em;
  margin-bottom: 0;
  font-size: 0.9em;
}

/* line 53, ../sass/styles.sass */
.job-descr {
  font-size: 0.9em;
  margin-bottom: auto;
}

/* line 57, ../sass/styles.sass */
h1, h2, h3, h4, h5, h6, h7 {
  /*color: #5e5e5e; */
  margin-bottom: 0.4rem;
  text-rendering: optimizeLegibility;
}

/* line 63, ../sass/styles.sass */
#linkedin-button {
  margin-bottom: 0.5em;
}

/* line 66, ../sass/styles.sass */
#jumbo_text1 {
  color: white;
}

/* line 69, ../sass/styles.sass */
.regular-link {
  color: #474747;
  font-family: lato, Voces;
}

/* line 73, ../sass/styles.sass */
.nav-link {
  color: #e6dedc;
  padding: 0.4rem;
  display: inline-block;
  font-size: 1.1rem;
  font-family: Voces;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 5px;
  background-color: #0975ff;
  width: 6rem;
  height: 1.8rem;
  overflow: hidden;
}
/* line 87, ../sass/styles.sass */
.nav-link:hover .nav-text {
  transform: translateY(-3em);
  -ms-transform: translateY(-3em);
  -webkit-transform: translateY(-3em);
}
/* line 91, ../sass/styles.sass */
.nav-link:hover .nav-help-text {
  transform: translateY(-3em);
  -ms-transform: translateY(-3em);
  -webkit-transform: translateY(-3em);
}

/* line 97, ../sass/styles.sass */
.info-panel {
  background-color: white;
  border-radius: 5px;
}

/* line 101, ../sass/styles.sass */
#name-header {
  overflow: hidden;
  transition: font-size 400ms;
}
/* line 102, ../sass/styles.sass */
#name-header h1 {
  margin-bottom: 0.4rem;
}
/* line 104, ../sass/styles.sass */
#name-header span {
  font-family: Lato, Voces;
  color: #efefef;
  display: inline-block;
  opacity: 0;
  transition: -webkit-transform 800ms, opacity 800ms;
  transition: -moz-transform 800ms, opacity 800ms;
  transition: -ms-transform 800ms, opacity 800ms;
  transition: -o-transform 800ms, opacity 800ms;
  -webkit-transform: translateZ(0) translateY(100px);
  -moz-transform: translateZ(0) translateY(100px);
  -ms-transform: translateZ(0) translateY(100px);
  -o-transform: translateZ(0) translateY(100px);
}

/* line 120, ../sass/styles.sass */
.content-container {
  display: inline-block;
  display: none;
  color: #e6dedc;
  font-size: 1.3em;
}
/* line 121, ../sass/styles.sass */
.content-container.current-content {
  display: block;
  text-align: justify;
}

/* line 129, ../sass/styles.sass */
.thingy {
  position: relative;
}

/* line 132, ../sass/styles.sass */
.nav-text {
  margin-bottom: 2em;
}

/* line 136, ../sass/styles.sass */
.page-loaded .nav-help-text {
  transition: transform 500ms;
  transition: -ms-transform 500ms;
  transition: -webkit-transform 500ms;
}
/* line 140, ../sass/styles.sass */
.page-loaded .nav-text {
  transition: transform 500ms;
  transition: -ms-transform 500ms;
  transition: -webkit-transform 500ms;
}
/* line 144, ../sass/styles.sass */
.page-loaded h1#homepage-display.small-home {
  transition: font-size 300ms;
}
/* line 147, ../sass/styles.sass */
.page-loaded #name-header span {
  opacity: 1;
  transition: -webkit-transform 1350ms, opacity 1200ms;
  transition: -moz-transform 1350ms, opacity 1200ms;
  transition: -ms-transform 1350ms, opacity 1200ms;
  transition: -o-transform 1350ms, opacity 1200ms;
  -webkit-transform: translateZ(0) translateY(0);
  -moz-transform: translateZ(0) translateY(0);
  -ms-transform: translateZ(0) translateY(0);
  -o-transform: translateZ(0) translateY(0);
}
/* line 158, ../sass/styles.sass */
.page-loaded .small-home #name-header span {
  transition: none;
}

/* line 162, ../sass/styles.sass */
#homepage-display {
  margin-bottom: 3%;
  padding-bottom: 1%;
  margin-top: 18%;
}

/* line 167, ../sass/styles.sass */
.page-loaded > #homepage-display {
  transition: margin-top 1000ms;
}

/* line 170, ../sass/styles.sass */
#homepage-display.small-home {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 173, ../sass/styles.sass */
#homepage-display.small-home h1 {
  font-size: 1.7em;
}

/* line 176, ../sass/styles.sass */
#where-container {
  margin-top: 5%;
  font-size: 4rem;
  opacity: 0.7;
}
/* line 177, ../sass/styles.sass */
#where-container a {
  color: black;
}
/* line 179, ../sass/styles.sass */
#where-container a:hover {
  color: #333333;
}

/* line 185, ../sass/styles.sass */
.row.info-listing {
  background: #444444;
  /*border-radius: 0.15em; */
  margin-bottom: 1em;
  padding: 0.5em;
}
/* line 190, ../sass/styles.sass */
.row.info-listing > .large-4 {
  text-align: center;
}
/* line 192, ../sass/styles.sass */
.row.info-listing h2 {
  line-height: 1;
}

/* line 195, ../sass/styles.sass */
.logo {
  width: 100%;
  height: 100%;
  max-width: 12em;
  max-height: 10em;
  margin-bottom: 0.3em;
}

/* line 202, ../sass/styles.sass */
.screencap {
  width: 100%;
  height: 100%;
  max-width: 18em;
  max-height: 15em;
  margin-bottom: 0.3em;
}

/* line 210, ../sass/styles.sass */
.project-descr h4 {
  color: #e6dedc;
}

/* line 214, ../sass/styles.sass */
.post-header h3 {
  color: #e6dedc;
  text-align: left;
}

/* line 218, ../sass/styles.sass */
.job-descr {
  display: inline-block;
  font-size: 0.85em;
  margin-bottom: 0;
  margin-top: 0.3em;
  word-spacing: 0.1em;
}

/* line 225, ../sass/styles.sass */
.techs-used {
  display: inline-block;
  font-size: 0.85em;
  margin-bottom: 0;
  margin-top: 0.3em;
  word-spacing: 0.1em;
  margin-right: 0.5em;
}

/* line 233, ../sass/styles.sass */
.techs-list {
  font-size: 0.85em;
  display: inline-block;
  margin-bottom: 0;
}

/* line 238, ../sass/styles.sass */
#phone-number {
  font-size: 0.3em;
}

/* line 241, ../sass/styles.sass */
.post-link {
  font-size: 1.3em;
}

/* line 244, ../sass/styles.sass */
.post-header {
  border-bottom: 1px solid #e6dedc;
}

/* line 247, ../sass/styles.sass */
.row.post-information {
  margin-top: 0.3em;
}
/* line 249, ../sass/styles.sass */
.row.post-information .blog-category-link {
  margin-left: 0.25em;
  margin-right: 0.25em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 0.25em;
  display: inline-block;
  border-radius: 2px;
}

/* line 259, ../sass/styles.sass */
.category-name {
  color: #efefef;
}

/* line 263, ../sass/styles.sass */
article {
  word-spacing: 0.1em;
}
/* line 265, ../sass/styles.sass */
article ol, article ul {
  list-style: disc inside;
}
/* line 267, ../sass/styles.sass */
article h1, article h2, article h3, article h4, article h5 {
  margin-top: 2em;
}
/* line 269, ../sass/styles.sass */
article h1, article h2, article h3, article h4, article h5, article h6, article h7 {
  color: #e6e6e6;
}
